<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <div class="widget recent-posts">
      <h3 class="widget-title"><%= __('recent_posts') %></h3>
      <ul>
        <% site.posts.sort('date', -1).limit(theme.recent_posts_limits).each(function(post){ %>
          <li>
            <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
            <time class="recent-posts-list-date" datetime="<%= date_xml(post.date) %>" itemprop="articlePublished"><%= date(post.date, null) %></time>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>